#crowdin-language-picker .cr-picker-button,
#crowdin-language-picker .cr-picker-submenu {
  border: 1px solid currentColor;

  /* Set the default theme to light */
  background-color: white;
  color: var(--color-code-foreground);

  /* If in dark theme, apply these styles */
  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) & {
      background-color: var(--color-code-background);
      color: var(--color-code-foreground);
      border-color: var(--color-foreground-border);
    }
  }

  /* If explicitly set to dark theme, apply these styles */
  & body[data-theme="dark"] & {
    background-color: var(--color-code-background);
    color: var(--color-code-foreground);
    border-color: var(--color-foreground-border);
  }
}

#crowdin-language-picker .cr-picker-submenu > a {
  /* Set the default theme to light */
  color: var(--color-code-foreground);

  /* If in dark theme, apply these styles */
  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) & {
      color: var(--color-code-foreground);
    }
  }

  /* If explicitly set to dark theme, apply these styles */
  & body[data-theme="dark"] & {
    color: var(--color-code-foreground);
  }
}

#crowdin-language-picker .cr-picker-submenu > a.cr-selected {
  /* Set the default theme to light */
  color: #aaaaaa !important;

  /* If in dark theme, apply these styles */
  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) & {
      color: #7e838a !important;
    }
  }

  /* If explicitly set to dark theme, apply these styles */
  & body[data-theme="dark"] & {
    color: #7e838a !important;
  }
}

#crowdjet-container,
#crowdjet-iframe {
  /* add border */
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-foreground-border);

  /* If in dark theme, apply these styles */
  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) & {
      border-color: var(--color-foreground-border);
    }
  }

  /* If explicitly set to dark theme, apply these styles */
  & body[data-theme="dark"] & {
    border-color: var(--color-foreground-border);
  }
}
