---
# This workflow can be called by other repos if we want to debug the GitHub context. This is useful for popular
# projects that get many PRs so we can see how the context varies between forks and internal branches.

name: GitHub Env Debug
permissions: {}

on:
  pull_request:
  workflow_call:

jobs:
  github_env:
    name: GitHub Env Debug
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        shell: bash
        run: echo "$GITHUB_CONTEXT"
