---
# Update changelog on release events.

name: Update changelog (called)
permissions:
  contents: read

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        description: 'GitHub token to use for the workflow.'
        required: true

jobs:
  update-changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Update Changelog
        uses: LizardByte/actions/actions/release_changelog@09a6e10dc8175f2933c20bdf35fde0a193a9c00e  # v2026.129.194351
        with:
          changelogBranch: changelog
          changelogFile: CHANGELOG.md
          token: ${{ secrets.GH_TOKEN }}
