---
# This workflow is centrally managed in https://github.com/<organization>/.github/
# Don't make changes to this file in this repo as they will be overwritten with changes made to the same file in
# the above-mentioned repo.

# To use, add the `winget-pkg` repository label to identify repositories that should trigger this workflow.

# Update Winget on release events.

name: Update Winget repo (called)
permissions:
  contents: read

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        description: 'GitHub token to use for the workflow.'
        required: true

jobs:
  update-winget-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Check if Winget repo
        id: check-label
        env:
          TOPIC: winget-pkg
        uses: actions/github-script@v8
        with:
          script: |
            const topic = process.env.TOPIC;
            console.log(`Checking if repo has topic: ${topic}`);

            const repoTopics = await github.rest.repos.getAllTopics({
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            console.log(`Repo topics: ${repoTopics.data.names}`);

            const hasTopic = repoTopics.data.names.includes(topic);
            console.log(`Has topic: ${hasTopic}`);

            core.setOutput('hasTopic', hasTopic);

      - name: Download release asset
        id: download
        if: steps.check-label.outputs.hasTopic == 'true'
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05  # v1.12
        with:
          repository: "${{ github.repository }}"
          tag: "${{ github.event.release.tag_name }}"
          fileName: "*.exe"
          tarBall: false
          zipBall: false
          out-file-path: "release_downloads"
          extract: false

      - name: Release to WinGet
        if: >-
          steps.check-label.outputs.hasTopic == 'true' &&
          fromJson(steps.download.outputs.downloaded_files)[0]
        uses: vedantmgoyal2009/winget-releaser@4ffc7888bffd451b357355dc214d43bb9f23917e  # v2
        with:
          identifier: "${{ github.repository_owner }}.${{ github.event.repository.name }}"
          release-tag: ${{ github.event.release.tag_name }}
          installers-regex: '\.exe$'
          token: ${{ secrets.GH_TOKEN }}
