---
name: Update Homebrew repo (called)
permissions: {}

on:
  workflow_call:
    inputs:
      gh_username:
        description: 'Username for git commits'
        required: true
        type: string
    secrets:
      GH_EMAIL:
        description: 'Email address for git commits'
        required: true
      GH_TOKEN:
        description: 'GitHub token to use for the workflow.'
        required: true

jobs:
  update-homebrew-repo:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    environment:
      name: Homebrew
      url: https://github.com/${{ github.repository_owner }}/homebrew-homebrew/commits
    steps:
      - name: Check if Homebrew repo
        id: check-label
        env:
          TOPIC: homebrew-pkg
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
        with:
          script: |
            const topic = process.env.TOPIC;
            console.log(`Checking if repo has topic: ${topic}`);

            const repoTopics = await github.rest.repos.getAllTopics({
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            console.log(`Repo topics: ${repoTopics.data.names}`);

            const hasTopic = repoTopics.data.names.includes(topic);
            console.log(`Has topic: ${hasTopic}`);

            core.setOutput('hasTopic', hasTopic);

      - name: Download release asset
        id: download
        if: steps.check-label.outputs.hasTopic == 'true'
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05  # v1.12
        with:
          repository: "${{ github.repository }}"
          tag: "${{ github.event.release.tag_name }}"
          fileName: "*.rb"
          tarBall: false
          zipBall: false
          out-file-path: "release_downloads"
          extract: false

      - name: Publish Homebrew Formula
        if: >-
          steps.check-label.outputs.hasTopic == 'true' &&
          fromJson(steps.download.outputs.downloaded_files)[0]
        uses: LizardByte/actions/actions/release_homebrew@6be4ea62064b64957aa880252fe353cd65bcdef7  # v2026.214.14019
        with:
          formula_file: ${{ fromJson(steps.download.outputs.downloaded_files)[0] }}
          git_email: ${{ secrets.GH_EMAIL }}
          git_username: ${{ inputs.gh_username }}
          publish: true
          token: ${{ secrets.GH_TOKEN }}
          validate: false
