---
# Update changelog on release events.

name: Update changelog (called)
permissions:
  contents: read

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        description: 'GitHub token to use for the workflow.'
        required: true

jobs:
  update-changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Update Changelog
        uses: LizardByte/actions/actions/release_changelog@ce5d2be83ba14f30062762579f46d074892c5dd0  # v2026.203.15239
        with:
          changelogBranch: changelog
          changelogFile: CHANGELOG.md
          token: ${{ secrets.GH_TOKEN }}
