---
# This workflow does not need to be replicated to other repositories. This workflow will update the cla gist files
# required for CLA Assistant.

name: CLA gist replicator
permissions: {}

on:
  push:
    branches:
      - master
    paths:
      - "legal/cla/**"
  workflow_dispatch:

jobs:
  replicate_cla:
    name: Replicate CLA
    permissions:
      contents: read
    runs-on: ubuntu-latest
    environment:
      name: cla-gist
      url: https://gist.github.com/${{ vars.CLA_GIST_ID }}
    strategy:  # the action doesn't currently support multiple files
      fail-fast: true  # false to run all, true to fail entire job if any fail
      max-parallel: 1  # let's update files one by one to avoid complications
      matrix:
        include:
          - file_path: 'legal/cla/CLA'
          - file_path: 'legal/cla/CLA-entity'
          - file_path: 'legal/cla/metadata'
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Deploy Gist
        uses: exuanbo/actions-deploy-gist@47697fceaeea2006a90594ee24eb9cd0a1121ef8  # v1.1.4
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
          gist_id: ${{ vars.CLA_GIST_ID }}
          file_path: ${{ matrix.file_path }}
          file_type: text
