---
# Send social media post to various platforms.

name: Social Media Post
permissions: {}

on:
  workflow_dispatch:
    inputs:
      discord:
        description: 'Send a Discord announcement'
        required: false
        default: false
        type: boolean
      facebook_page:
        description: 'Post to the Facebook page'
        required: false
        default: false
        type: boolean
      reddit:
        description: 'Post to Reddit'
        required: false
        default: false
        type: boolean
      x:
        description: 'Post to X'
        required: false
        default: false
        type: boolean
      title:
        description: 'Title of the post'
        default: ''
        required: false
        type: string
      body:
        description: 'Body of the post'
        default: ''
        required: false
        type: string
      url:
        description: 'URL to include in the post. Does not apply to X'
        default: ''
        required: false
        type: string

jobs:
  discord:
    if: inputs.discord
    runs-on: ubuntu-latest
    steps:
      - name: discord
        uses: sarisia/actions-status-discord@b8381b25576cb341b2af39926ab42c5056cc44ed  # v1.15.5
        with:
          avatar_url: ${{ vars.ORG_LOGO_URL }}256
          color: 0x${{ vars.COLOR_HEX_GREEN }}
          description: ${{ inputs.body }}
          nodetail: true
          nofail: false
          title: ${{ inputs.title }}
          url: ${{ inputs.url }}
          username: ${{ secrets.DISCORD_USERNAME }}
          webhook: ${{ secrets.DISCORD_RELEASE_WEBHOOK }}

  facebook_page:
    if: inputs.facebook_page
    runs-on: ubuntu-latest
    steps:
      - name: facebook-post-action
        uses: LizardByte/actions/actions/facebook_post@v2025.1227.191137
        with:
          page_id: ${{ secrets.FACEBOOK_PAGE_ID }}
          access_token: ${{ secrets.FACEBOOK_ACCESS_TOKEN }}
          message: |
            ${{ inputs.title }}

            ${{ inputs.body }}
          url: ${{ inputs.url }}

  reddit:
    if: inputs.reddit
    runs-on: ubuntu-latest
    steps:
      - name: reddit
        uses: bluwy/release-for-reddit-action@b4ee0e0d64da893e0428912aac5cda675082bd85  # v2
        with:
          username: ${{ secrets.REDDIT_USERNAME }}
          password: ${{ secrets.REDDIT_PASSWORD }}
          app-id: ${{ secrets.REDDIT_CLIENT_ID }}
          app-secret: ${{ secrets.REDDIT_CLIENT_SECRET }}
          subreddit: ${{ vars.REDDIT_SUBREDDIT }}
          title: ${{ inputs.title }}
          url: ${{ inputs.url }}
          flair-id: ${{ secrets.REDDIT_FLAIR_ID }}  # https://www.reddit.com/r/<subreddit>>/api/link_flair.json
          comment: ${{ inputs.body }}

  x:
    if: inputs.x
    runs-on: ubuntu-latest
    steps:
      - name: x
        uses: nearform-actions/github-action-notify-twitter@b3fa623c2f320117e8a08e20564c4ce0a5e67930  # v1.2.3
        # alternative: noweh/post-tweet-v2-action@v1.0
        with:
          message: "${{ inputs.title }}: ${{ inputs.body }}"
          twitter-app-key: ${{ secrets.X_APP_KEY }}
          twitter-app-secret: ${{ secrets.X_APP_SECRET }}
          twitter-access-token: ${{ secrets.X_ACCESS_TOKEN }}
          twitter-access-token-secret: ${{ secrets.X_ACCESS_TOKEN_SECRET }}
